@import url(fonts.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-thumb {
    background: orange;
    border-radius: 6px;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    overflow: auto;
    overflow-x: hidden;
    background: linear-gradient(
      315deg,
      rgb(205, 223, 2) 3%,
      rgba(60, 132, 206, 1) 38%,
      rgba(48, 238, 226, 1) 68%,
      rgb(222, 214, 214) 98%
    );
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
    background-color: black;
  }
  
.body_1{
    background-color: #000;
    margin: 0;
    overflow: hidden;
    background-repeat: no-repeat;
    margin-top: 10px;
}  
  
  @keyframes gradient {
    0% {
      background-position: 0% 0%;
    }
    50% {
      background-position: 100% 100%;
    }
    100% {
      background-position: 0% 0%;
    }
  }
  
  .wave {
    background: rgb(255 255 255 / 25%);
    border-radius: 1000% 1000% 0 0;
    position: fixed;
    width: 200%;
    height: 12em;
    animation: wave 10s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.8;
    bottom: 0;
    left: 0;
    z-index: -1;
  }
  
  .wave:nth-of-type(2) {
    bottom: -1.25em;
    animation: wave 18s linear reverse infinite;
    opacity: 0.8;
  }
  
  .wave:nth-of-type(3) {
    bottom: -2.5em;
    animation: wave 20s -1s reverse infinite;
    opacity: 0.9;
  }
  
  @keyframes wave {
    2% {
      transform: translateX(1);
    }
  
    25% {
      transform: translateX(-25%);
    }
  
    50% {
      transform: translateX(-50%);
    }
  
    75% {
      transform: translateX(-25%);
    }
  
    100% {
      transform: translateX(1);
    }
  }
  
.thanks {
    color: white;
    text-align: center;
    
}

.team {
    font-family: 'Comfortaa';
    font-weight: bold;
    display: flex;
    justify-content: center;
    font-size: 30px;
    background-color: #00000075;
    max-width: 300px;
    width: 100%;
    margin: auto;
}

/* team name */



:root {
    --gap-horizontal: 30px;
    --gap-vertical: 10px;
    --time-anim: .4s;
}


img {
    max-width: 100%;
    width: 100%;
    vertical-align: bottom;
}

.wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.glitch {
    position: relative;
    font-size: 100px;
    text-align: center;
    letter-spacing: 0.1em;
}

.glitch__img {
    position: absolute;
    top: calc(-1 * var(--gap-vertical));
    left: calc(-1 * var(--gap-horizontal));
    width: calc(100% + var(--gap-horizontal) * 2);
    height: calc(100% + var(--gap-vertical) * 2);
    color: #1d2121;
    font-size: 100px;
    text-shadow: 0 0 10px #1d2121, 0 0 20px #1d2121, 0 0 30px #1d2121, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
}

.glitch__img:nth-child(n+2) {
    opacity: 0;
}

/* .glitch--style01 */

.glitch--style01 .glitch__img:nth-child(n+2) {
    animation-duration: var(--time-anim);
    animation-iteration-count: infinite;
}

.glitch--style01 > .glitch__img:nth-child(2) {
    animation-name: glitch-style01-anim01;
}

.glitch--style01 > .glitch__img:nth-child(3) {
    animation-name: glitch-style01-anim02;
}

.glitch--style01 > .glitch__img:nth-child(4) {
    animation-name: glitch-style01-anim03;
    animation-timing-function: ease-in-out;
    animation-duration: .8s;
}

@keyframes glitch-style01-anim01 {
    0% {
        opacity: 1;
        transform: translate3d(var(--gap-horizontal), 0, 0);
        clip-path: polygon(0 2%, 100% 2%, 100% 5%, 0 5%);
    }
    10% {
        clip-path: polygon(0 15%, 100% 15%, 100% 15%, 0 15%);
    }
    20% {
        clip-path: polygon(0 10%, 100% 10%, 100% 20%, 0 20%);
    }
    30% {
        clip-path: polygon(0 1%, 100% 1%, 100% 2%, 0 2%);
    }
    40% {
        clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
    }
    50% {
        clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
    }
    60% {
        clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
    }
    70% {
        clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
    }
    80% {
        clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
    }
    90% {
        clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
    }
    99% {
        clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
    }
    99.9% {
        opacity: 1;
        transform: translate3d(var(--gap-horizontal), 0, 0);
    }
    100% {
        opacity: 0;
        transform: translate3d(0, 0, 0);
        clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    }
}

@keyframes glitch-style01-anim02 {
    0% {
        opacity: 1;
        transform: translate3d(calc(-1 * var(--gap-horizontal)), 0, 0);
        clip-path: polygon(0 25%, 100% 25%, 100% 30%, 0 30%);
    }
    9% {
        clip-path: polygon(0 3%, 100% 3%, 100% 3%, 0 3%);
    }
    18% {
        clip-path: polygon(0 5%, 100% 5%, 100% 20%, 0 20%);
    }
    27% {
        clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
    }
    36% {
        clip-path: polygon(0 40%, 100% 40%, 100% 40%, 0 40%);
    }
    45% {
        clip-path: polygon(0 52%, 100% 52%, 100% 59%, 0 59%);
    }
    54% {
        clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
    }
    63% {
        clip-path: polygon(0 75%, 100% 75%, 100% 75%, 0 75%);
    }
    72% {
        clip-path: polygon(0 65%, 100% 65%, 100% 40%, 0 40%);
    }
    81% {
        clip-path: polygon(0 45%, 100% 45%, 100% 50%, 0 50%);
    }
    90% {
        clip-path: polygon(0 14%, 100% 14%, 100% 33%, 0 33%);
    }
    99.9% {
        opacity: 1;
        transform: translate3d(calc(-1 * var(--gap-horizontal)), 0, 0);
    }
    100% {
        opacity: 0;
        transform: translate3d(0, 0, 0);
        clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    }
}

@keyframes glitch-style01-anim03 {
    0% {
        opacity: 1;
        transform: translate3d(0, calc(-1 * var(--gap-vertical)), 0) scale3d(-1, -1, 1);
        clip-path: polygon(0 1%, 100% 1%, 100% 3%, 0 3%);
    }
    5.5% {
        -webkit-clip-path: polygon(0 10%, 100% 10%, 100% 9%, 0 9%);
        clip-path: polygon(0 10%, 100% 10%, 100% 9%, 0 9%);
    }
    11% {
        -webkit-clip-path: polygon(0 5%, 100% 5%, 100% 6%, 0 6%);
        clip-path: polygon(0 5%, 100% 5%, 100% 6%, 0 6%);
    }
    16.5% {
        -webkit-clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
        clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
    }
    22% {
        -webkit-clip-path: polygon(0 10%, 100% 10%, 100% 10%, 0 10%);
        clip-path: polygon(0 10%, 100% 10%, 100% 10%, 0 10%);
    }
    27.5% {
        -webkit-clip-path: polygon(0 30%, 100% 30%, 100% 25%, 0 25%);
        clip-path: polygon(0 30%, 100% 30%, 100% 25%, 0 25%);
    }
    33% {
        -webkit-clip-path: polygon(0 15%, 100% 15%, 100% 16%, 0 16%);
        clip-path: polygon(0 15%, 100% 15%, 100% 16%, 0 16%);
    }
    38.5% {
        -webkit-clip-path: polygon(0 40%, 100% 40%, 100% 39%, 0 39%);
        clip-path: polygon(0 40%, 100% 40%, 100% 39%, 0 39%);
    }
    44% {
        -webkit-clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%);
        clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%);
    }
    49.5% {
        -webkit-clip-path: polygon(0 60%, 100% 60%, 100% 55%, 0 55%);
        clip-path: polygon(0 60%, 100% 60%, 100% 55%, 0 55%);
    }
    55% {
        -webkit-clip-path: polygon(0 30%, 100% 30%, 100% 31%, 0 31%);
        clip-path: polygon(0 30%, 100% 30%, 100% 31%, 0 31%);
    }
    60.5% {
        -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 69%, 0 69%);
        clip-path: polygon(0 70%, 100% 70%, 100% 69%, 0 69%);
    }
    66% {
        -webkit-clip-path: polygon(0 40%, 100% 40%, 100% 41%, 0 41%);
        clip-path: polygon(0 40%, 100% 40%, 100% 41%, 0 41%);
    }
    71.5% {
        -webkit-clip-path: polygon(0 80%, 100% 80%, 100% 75%, 0 75%);
        clip-path: polygon(0 80%, 100% 80%, 100% 75%, 0 75%);
    }
    77% {
        -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 51%, 0 51%);
        clip-path: polygon(0 50%, 100% 50%, 100% 51%, 0 51%);
    }
    82.5% {
        -webkit-clip-path: polygon(0 90%, 100% 90%, 100% 90%, 0 90%);
        clip-path: polygon(0 90%, 100% 90%, 100% 90%, 0 90%);
    }
    88% {
        -webkit-clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
        clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
    }
    93.5% {
        -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 99%, 0 99%);
        clip-path: polygon(0 100%, 100% 100%, 100% 99%, 0 99%);
    }
    99% {
        -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 71%, 0 71%);
        clip-path: polygon(0 70%, 100% 70%, 100% 71%, 0 71%);
    }
    99.9% {
        opacity: 1;
        transform: translate3d(0, calc(-1 * var(--gap-vertical)), 0) scale3d(-1, -1, 1);
    }
    100% {
        opacity: 0;
        transform: translate3d(0, 0, 0);
        clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    }
}

/* Glitch thanks */

.glitch_text1 {
    font-family: monospace;
    font-size: 30px;
    text-align: center;
    color: white;
  }

  
/* Welcome */

.welcome{
    background-image: linear-gradient(90deg, #000000, #364131, #ff0000);
    background-size: 80% 100%;
    font-size: 40px;
    text-align: center;
    background-repeat: no-repeat;
    background-clip: text;
   -webkit-background-clip: text;
   color: transparent;
   text-transform: uppercase;
   animation: shine 8s linear infinite; 
   font-weight: 600;
}

@keyframes shine{
    from{
        background-position: -500% 0;
    }
    
    to{
        background-position: 500% 0;
    }
}

/* BUTTON */

.outer{  
    width:150px;  
    height:40px;  
    border-radius:10px;  
    padding:5px; 
    margin: auto; 
      }  
      .outer:hover{  
        animation-name:rotate;  
        animation-iteration-count:infinite;  
        animation-duration:1s;  
        animation-delay: 0ms;  
        background-color: rgb(23, 248, 248);  
      }  
      .outer:hover a{  
        color:aqua;  
      }  
    @keyframes rotate {  
    from{  
      filter: hue-rotate(0deg);  
    }  
    to{  
      filter:hue-rotate(360deg);  
    }  
    }  
      .inner{  
        width:100%;  
        height:100%;  
        display:flex;  
        justify-content: center;  
        align-items:center;  
        background-color: black;  
        border-radius:10px;  
      }  
      a{  
        color:white;  
        text-decoration:none;  
        font-weight: 900;  
        font-size:20px;  
      } 



